@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts.css */
@font-face {
  font-family: 'latto';
  src: url('/fonts/lato.woff') format('woff');

  /* Add more src lines if you have multiple font weights/styles */
}

/* Example: for a bold variant */
@font-face {
  font-family: 'latto';
  font-weight: bold;
  src: url('/fonts/Lato-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'latto';
  font-weight: normal;
  src: url('/fonts/Lato-Regular.eot') format('eot');
}

@font-face {
  font-family: 'latto';
  font-weight: lighter;
  src: url('/fonts/Lato-Light.otf') format('otf');
}




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


